
.theme-handler {
  &__switch {
    position: fixed !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    bottom: 0;
    right: 0;

    &:checked ~ .wrapper  {
      footer > .footer__container {
        .theme-handler__label{
          background: transparent;
          border: 1px solid var(--black);


          &::after {
            content: "";
            display: block;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            margin-left: 21px;
            transition: 0.2s;
            background:  var(--main-dark);
          }

          &:before {
            content: "";
            display: block;
            border-radius: 50%;
            width: 25px;
            height: 18px;
            margin-left: 21px;
            transition: 0.2s;
            transform: translateX(-50%) translateY(3px);
            background: var(--white);
            position: absolute;
            z-index: 10;
          }
        }
      }
    }
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    margin: 32px 0;
  }

  &__wrapper {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 26px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid var(--white);
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin: 3px;
      background: var(--white);
      transition: 0.2s;
    }
  }
}