.services-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__text {
    flex: 0 0 27.77%;

    &_list {
      flex: 0 0 50.75%;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__form-wrapper {
    flex: 1;

    @include adaptiveValue("margin-left", 66, 0);

    @media (max-width: $tablet) {
      margin-left: 0;
    }

    @media (max-width: $mobile) {
      order: 2;
      margin-top: 20px;
      width: 100%;
    }
  }
}

.text-services {
  &__top {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;

    @include adaptiveValue("margin-bottom", 16, 8);
    @include adaptiveValue('font-size', 22, 18);
    @include adaptiveValue('margin-bottom', 24, 16);
  }
}

.form-services {
  width: auto;
  padding: 40px;
  @include adaptiveValue("font-size", 20, 16);
  @include adaptiveValue("line-height", 19, 15);

  & > &__items-wrap {
    @include adaptiveValue("margin-bottom", 28, 20);
    display: flex;
  }

  &__items-wrap {
    @media (max-width: $mobile) {
      &_s {
        margin-bottom: 8px !important;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 24px 16px;
  }

  &__block {
    @include adaptiveValue("font-size", 20, 18);
    @include adaptiveValue("line-height", 19, 17);
  }

  &__label {
    width: 100%;
    display: flex;
    white-space: nowrap;

    @media (max-width: $mobile) {
      &_fw {
        flex-wrap: wrap;
      }

      span {
        display: block;
        margin-bottom: 8px;
      }
    }

    @media (max-width: 350px) {
      flex-wrap: wrap;
      input {
        margin-top: 8px;
      }
    }

    &_w {
      white-space: normal;
    }
  }

  &__input {
    // margin: 0;
    flex: 1 1 100%;
  }

  &__button {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    @include adaptiveValue("margin-top", 20, 0);
    span {
      white-space: nowrap;
      text-transform: lowercase;
      padding: 0 6px;
    }
  }
}
