.logo {
  display: block;
  text-transform: uppercase;

  &__top {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.5625rem;
  }

  &__bottom {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    text-align: right;
  }
}