.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;

  &__url {
    align-self: flex-start;
    font-style: italic;

    @include textBlock(63, 24, 18, 14, 17.41, 13.54);
  }

  &__subtitle {
    font-weight: 500;
    @include textBlock(40, 24, 60, 20, 58, 13.54);
  }

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    @include textBlock(120, 32, 160, 37, 155, 56);
  }
}