//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	//display: block;
	margin: 0 20px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #b9b9b9;
	// margin: 0 10px 32px;
	font-size: 14px;
	width: 30%;
	min-width: 180px;
	color: var(--text-color);

	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
		text-transform: uppercase;
	}
	&:focus::placeholder {
		opacity: 0;
	}
	&:focus {
		outline: none;
	}
}

.input__label {
	color: var(--text-color);
}

textarea.input {
	resize: none;
	padding: 0 0;
}
