.changes {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("margin-top", 80, 40);

    @media(max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__left {
    @media(max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      @include adaptiveValue("margin-bottom", 40, 20);

      @media(max-width: $tablet) {
        flex: 0 0 50%;
      }

      & > span:first-child {
        @include adaptiveValue("margin-right", 12, 8);
      }
    }
  }

  &__right {
    flex: 1 1 57%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 40px;

    @media(max-width: $pc) {
      svg {
        width: 100%;
      }
    }

    @media(max-width: $tablet) {
      margin-left: 0;
      svg {
        height: 90vw;
      }
    }
  }

  &__circle {
    position: absolute;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);

    &:nth-child(2) {
      bottom: 37%;
      left: 26%;
      width: 108px;
      height: 108px;
      @include adaptiveValue("font-size", 32, 12);

      @media (max-width: $pc) {
        width: 7.5vw;
        height: 7.5vw;
      }

      @media (max-width: $tablet) {
        top: 42vw;
        left: 14vw;
        width: 8.91vw;
        height: 8.91vw;
      }
    }

    &:nth-child(3) {
      top: 2.1%;
      left: 31%;
      width: 216px;
      height: 216px;
      @include adaptiveValue("font-size", 60, 23);

      @media (max-width: $pc) {
        width: 15vw;
        height: 15vw;
      }

      @media (max-width: $tablet) {
        width: 17.82vw;
        height: 17.82vw;
        top: 16.7vw;
        left: 23vw;
      }
    }

    &:nth-child(4) {
      top: 47%;
      left: 36.6%;
      width: 160px;
      height: 160px;
      @include adaptiveValue("font-size", 47, 18);

      @media (max-width: $pc) {
        width: 11.11vw;
        height: 11.11vw;
      }

      @media (max-width: $tablet) {
        width: 13.2vw;
        height: 13.2vw;
        top: 45vw;
        left: 31vw;
      }
    }

    &:nth-child(5) {
      top: 13%;
      left: 51.6%;
      width: 270px;
      height: 270px;
      @include adaptiveValue("font-size", 80, 31);

      @media (max-width: $pc) {
        width: 18.75vw;
        height: 18.75vw;
      }

      @media (max-width: $tablet) {
        width: 22.28vw;
        height: 22.28vw;
        top: 22.5vw;
        left: 52.6vw;
      }
    }

    &:nth-child(6) {
      top: 67.5%;
      left: 51.6%;
      width: 86px;
      height: 86px;
      @include adaptiveValue("font-size", 25, 10);

      @media (max-width: $pc) {
        width: 5.97vw;
        height: 5.97vw;
      }

      @media (max-width: $tablet) {
        width: 7.1vw;
        height: 7.1vw;
        top: 55.5vw;
        left: 49.6vw;
      }
    }
  }
}