.Bounce {
  position: absolute;
  border-radius: 50%;

  &Item {
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    padding: 10px;
    text-align: center;
  }
}